.works-page.locked {
  height: 100vh;
  width: 100vw;
  overflow: hidden;  
}

.category-tags {
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
}

.category-tag {
  font-size: 1rem;
  height: 3rem;
  width: 150px;
  min-width: 130px;
  border: none;
  color: var(--default-black);
  background-color: var(--default-grey);
  margin: 0 10px;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.15);
}

.category-tag:hover {
  background-color: var(--default-lime);
  cursor: pointer;
}

.category-tag.active {
  background-color: var(--default-lime);
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 5px;
}

.gallery--thumbnail {
  object-fit: cover;
  height: 400px;
  cursor: pointer;
}

.modal.visible {
  z-index: 3;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.77);
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  transition: visibility 0.2s linear, background-color 0.2s ease-in-out;
}

.modal.hidden {
  visibility: hidden;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  transition: visibility 0.2s linear, background-color 0.2s ease-in-out;
}

.modal-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
}

.modal img {
  max-width: 90vw;
  max-height: 90vh;
}