.works-page {
  height: 100vh;
}

.category-tags {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 80px;
  z-index: 2;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.category-tag {
  font-size: 1rem;
  height: 3rem;
  width: 150px;
  min-width: fit-content;
  border: 1px solid rgb(207, 207, 207);
  background-color: transparent;
  border-radius: 5px;
  color: var(--default-black);
  margin: 0 10px;
  transition: background-color 0.2s ease-in-out;
}

.category-tag:hover {
  background-color: var(--default-lime);
  cursor: pointer;
  border: none;
}

.category-tag.active {
  background-color: var(--default-lime);
  border: none;
}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  max-width: 1550px;
  margin: 0 auto;
}

.gallery--thumbnail-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.gallery--thumbnail-container:hover {
  opacity: 85%;
}

.gallery--thumbnail-container.multiple::after {
  content: "";
  background-image: url("/icons/layered.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(70%);
}

.gallery--thumbnail {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-top {
  width: 2.7rem;
  height: 2.7rem;
  margin-top: 20px;
  border: none;
  color: var(--default-black);
  background-color: var(--default-lime);
  font-size: 1.5rem;
  border-radius: 50%; 
  transition: background-color 0.1s ease-in-out;
}

.back-top span {
  top: -5px;
}

.back-top:hover {
  background-color: var(--default-grey);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}