.category-card {
  width: 400px;
  height: 250px;
  display: grid;
  place-items: center;
  background-image: url('https://64.media.tumblr.com/439dc805ead0fc6c860b88dfac846036/e349ead0b1cbb51c-5a/s1280x1920/50976e83645179347a5b0970f66f8ac95e54a81a.jpg');
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  transition: font-size ease-in-out 0.1s;
}

.category-card > h2 {
  color: white;
  text-shadow: 1px 1px 5px #000;
}

.category-card:hover {
  font-size: 1.1rem;
  cursor: pointer;
  /* background-image: url('./assets/categories/fanart_animated.gif') */
}